@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: auto;
}

.container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 65px 1fr;
  grid-template-areas:
    "sidebar navbar"
    "sidebar main-content";
  height: 100vh;
  transition: 0.2s ease;
}

.container.shorter {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 65px 1fr;
  grid-template-areas:
    "sidebar navbar"
    "sidebar main-content";
  height: 100vh;
}

.navbar {
  grid-area: navbar;
  background-color: white;
  position: sticky;
  top: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.sidebar {
  grid-area: sidebar;
  background-color: #020617;
  overflow-y: auto;
  display: grid;
  grid-template-rows: 65px 1fr;
  grid-template-areas:
    "sidebar-logo"
    "sidebar-menu";
  overflow-x: hidden;
}

.main-content {
  grid-area: main-content;
  padding: 20px;
  overflow-y: none;
  background-color: #f8fafc;
}

.sidebar .sidebar-logo {
  grid-area: sidebar-logo;
  border-bottom: 1px dashed #393945;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow-y: none;
}

.sidebar .sidebar-logo img {
  max-width: 178px;
  min-width: 178px;
  height: 42px;
  padding-left: 13px;
}

.sidebar .sidebar-logo i {
  padding-right: 20px;
  font-size: 20px;
  display: none;
  cursor: pointer;
}

.sidebar .sidebar-menu {
  grid-area: sidebar-menu;
  overflow-y: auto;
}

.nav {
  margin-top: 20px;
  padding: 21px;
  list-style: none;
  font-size: 1rem;
  flex-direction: column;
}

.nav li {
  display: flex;
  align-items: center;
  padding-bottom: 45px;
  filter: brightness(50%);
  transition: 0.2s ease;
}

.nav li:hover {
  filter: brightness(100%);
  margin-left: 5px;
}

.nav li.active {
  filter: brightness(100%);
}

.nav li i:first-child {
  margin-right: 10px;
}


.nav li a {
  padding-left: 11px;
  text-decoration: none;
  color: white;
  font-weight: 300;
  flex: 1;
  transition: 0.2s ease;
}

.nav li i.fa-chevron-right {
  margin-left: 10px;
  transition: 0.2s ease;
}

.nav li i.fa-chevron-right.active {
  margin-left: 10px;
  transition: 0.2s ease;
  transform: rotate(180deg);
}

.navbar .shorten-button {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 30px;
}

.navbar .shorten-button i.mobile {
  display: none;
}

.navbar .shorten-button i.desktop {
  cursor: pointer;
  font-size: 25px;
}

.navbar .shorten-button i:active {
  transform: scale(0.9);
}

i.hidden {
  display: none;
}

.hidden {
  display: none;
}

.search i {
  padding-right: 5px;
  font-size: 20px;
}

.search {
  display: flex;
  align-items: center;
  padding-right: 2%;
  flex: 1;
  padding-left: 20px;
}

.search input {
  height: 30px;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  width: 100%;
  max-width: 1000px;
}

.nav-end {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 11px;
}

.nav-end i {
  font-size: 20px;
  padding: 0px 12px;
  cursor: pointer;
}

.nav-end i:hover {
  filter: brightness(7%);
  transform: scale(1.4);
}

.nav-end img {
  height: 100%;
  padding: 0px 10px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.nav-end p {
  font-size: 20px;
  font-weight: 400;
  user-select: none;
  white-space: nowrap;
}

.topbar {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.topbar .date input[type="date"] {
  background: transparent;
  border: none;
  font-size: 17px;
  text-transform: uppercase;
  background-color: #cbd5e1;
  border-radius: 5px;
  padding: 0.9rem 1.8rem;
  text-align: center;
}

.topbar .buttons {
  display: flex;
  align-items: center;
}

.topbar .buttons button {
  background-color: #1e293b;
  color: white;
  font-size: 17px;
  padding: 0.9rem 1.8rem;
  border-radius: 5px;
  border: none;
  margin-left: 15px;
  cursor: pointer;
}

.topbar .buttons button:hover {
  filter: brightness(70%);
}

.topbar .buttons button:active {
  transform: scale(1.05);
}

.info-one {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2,minmax(500px, 0.375fr)) repeat(1, minmax(334px, 0.25fr));
  grid-template-rows: repeat(2,1fr);
  grid-template-areas: 
    "pillone pilltwo updates"
    "pillthree pillfour updates";
  gap: 1.5rem;
}


.pillone {
  grid-area: pillone;
}

.pillone,.pilltwo,.pillthree,.pillfour {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.data {
  display: flex;
  justify-content: space-between;
}

.data .info p {
  padding-top: 5px;
  font-size: 2rem;
  font-weight: 400;
}

.data .info h1 {
  font-size: 2.75rem;
  font-weight: 900;
}

.lastmonth {
  margin-top: 20px;
  background-color: #e2e8f0;
  border-radius: 5px;
  padding: 7px;
  font-weight: 300;
  margin-top: auto;
}

.lastmonth span {
  color: green;
  font-weight: 400;
}

.data .icon i {
  font-size: 80px;
}

.pilltwo {
  grid-area: pilltwo;
}

.pillthree {
  grid-area: pillthree;
}

.pillfour {
  grid-area: pillfour;
}

.updates {
  grid-area: updates;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.updatecontainer {
  display: flex;
  flex-wrap: wrap;
}

.updates .title {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 10px;
}

.update {
  display: flex;
  padding-bottom: 18px;
  padding-right: 15px;
}

.update .updatepic {
  display: inline-block;
  align-items: center;
}
.update .updatepic img {
  height: 100px;
  border-radius: 50%;
}

.updates .updatetext {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.updates .updatetext h3 {
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 5px;
}

.updates .updatetext p {
  font-size: 1rem;
  padding-bottom: 5px;
}

.updates .updatetext .time {
  padding-bottom: 2px;
  font-weight: 400;
}

.updatelast {
  margin-bottom: -10px;
}



@media screen and (max-width: 1200px) {
  .nav li a {
    display: none;
  }

  .nav li i.fa-chevron-right {
    display: none;
  }

  .container {
    grid-template-columns: 60px 1fr;
    grid-template-rows: 60px 1fr;
  }

  .sidebar {
    grid-template-rows: 60px 1fr;
  }

  .navbar .shorten-button {
    display: none;
  }

}

@media screen and (max-width: 768px) {
  .navbar .shorten-button {
    display: flex;
    padding-left: 10px;
    padding-right: 18px;
  }

  .navbar .shorten-button i.desktop {
    display: none;
  }

  .navbar .shorten-button i.mobile {
    display: block;
    cursor: pointer;
    font-size: 23px;
  }

  .container {
    grid-template-rows: 55px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
      "main-content";
    height: 100vh;
    transition: 0.2s ease;
  }

  .sidebar {
    position: fixed;
    width: 260px;
    left: -100%;
    background-color: #020617;
    grid-template-rows: 55px 1fr;
    z-index: 10;
    transition: left 0.2s ease;
    height: 100vh;
  }

  .sidebar .sidebar-logo i {
    padding-right: 20px;
    font-size: 20px;
    display: block;
  }

  .search {
    padding-left: 0px;
  }

  .search i {
    font-size: 20px;
  }

  .nav-end p {
    font-size: 15px;
    padding-right: 5px;
  }

  .nav-end i {
    font-size: 20px;
    padding: 0px 4px;
  }

  .search input {
    display: none;
  }

  .nav-end {
    padding: 0px 0px;
  }

  .sidebar .sidebar-logo i {
    padding-right: 20px;
    font-size: 20px;
  }

  .nav li a {
    display: block;
  }

  .nav li i.fa-chevron-right {
    display: block;
  }

  .sidebar .sidebar-logo {
    height: 55px;
  }

  .topbar .buttons {
    padding-top: 30px;
  }

  .topbar .date {
    margin-top: 30px;
  }

  .topbar {
    margin-top: -25px;
  }
}

@media screen and (max-width: 596px) {
  .topbar .date {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .topbar .date input {
    width: 100%;
  }
  .topbar .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -10px;
  }
  
  .topbar .buttons button {
    margin-left: 0px;
    width: 33%;
  }

  .topbar .buttons button.middle {
    margin-left: 15px;
    margin-right: 15px;
  }
}
